.dog-detail {
	width: 45%;
	height: auto;
	align-items: center;
	margin: 0.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5em;
	background-color: #ffffff;
	border-radius: 0.5rem;
}

.img-dog-detail {
	height: auto;
	width: 95%;
	border-radius: 0.5rem;
	background-image: url('https://res.cloudinary.com/c0a0a/image/upload/v1665922167/Wiki-woof/Spinner-huella-color_coy1ta.gif');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20%;
}

.global-dog-container {
	display: flex;
	justify-content: center;
}

.global-detail-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.info-container {
	margin: 0.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	padding: 0.5em;
	background-color: #ffffff;
}

.dog-container {
	margin: 0.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 250px;
	padding: 0.5em;
	background-color: #ffffff;
}


.img-home {
	width: 250px;
	height: 250px;
	border-radius: 5px;
	padding: 0.3em;
	align-self: center;
	background-image: url('https://res.cloudinary.com/c0a0a/image/upload/v1665922167/Wiki-woof/Spinner-huella-color_coy1ta.gif');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20%;
	background-color: #ffffff;
}

@supports (object-fit: cover) {
	.img-home {
		object-fit: cover;
		object-position: center center;
	}
}

.link-dog-detail {
	color: #0bc0d6;
	font-size: large;
	font-weight: bold;
	text-decoration: none;
}

.link-dog-detail:hover {
	color: #00c0a0;
}

span {
	color: #000000;
	margin-left: 1rem;
}

.title {
	color: #0bc0d6;
}
