#tools-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#dogs-container {
	display: flex;
	margin-left: 50px;
	margin-right: 50px;
	flex-flow: wrap;
	justify-content: space-around;
	align-self: center;
}
