#global-form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#addBreed-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	background-color: white;
	width: 40%;
	height: max-content;
	border-radius: 1rem;
	padding: 2rem;
}

h2 {
	color: black;
}

.inputElement {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 10px;
	align-items: center;
}
.inputElement > input.danger {
	border: 2px solid rgb(255, 94, 0);
}

p.danger {
	display: flex;
	justify-content: center;
	color: rgb(255, 94, 0);
	font-size: 10px;
	text-align: center;
}

.inputElement > input.success {
	border: 2px solid #00c0a0;
	outline-width: 0.5em;
}
.inputElement > input {
	margin-left: 20px;
	width: 200px;
	height: 2rem;
	padding: 0;
	border-radius: 0.5rem;
	outline-color: #0bc0d6;
}
#btn-form-dog {
	width: 5rem;
	height: 2rem;
	align-items: center;
}

.inputElement > label {
	width: 150px;
	text-align: left;
	font-weight: bold;
}
#input-file-container {
	display: flex;
	width: max-content;
}
#input-file {
	padding: 0px;
	width: 100%;
	display: none;
}

.labelFile {
	display: flex;
	justify-content: left;
	padding: 0px;
	font-size: xx-large;
	align-items: center;
}
#label-imagen {
	width: max-content;
	margin-right: 10px;
}

#form-response-container {
	background-color: #ffffff;
	color: black;
	height: max-content;
	width: 40%;
	border-radius: 10px;
	padding: 2rem;
	align-items: center;
	margin-top: 20px;
}

.link-created {
	color: #00c0a0;
	font-weight: bold;
	font-size: large;
}



