
#landing-text {
	color: black;
}

.landing-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#link-home {
	background-color: #0bc0d6;
	border-radius: 0.8rem;
	width: max-content;
	height: max-content;
	text-align: center;
	color: #ffffff;
	padding: 0.5rem;
}

#sub {
	background-color: #ffffff5f;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.8rem;
	border-radius: 1rem;
	width: 52%;
}

#slider-container {
	width:52%;
}
#slider-sup{
	display: flex;
	justify-content: center;
}