#landing-text {
	margin-top: 390px;
	margin-left: 200px;
	margin-right: 200px;
}
#landing-call-to-action {
	font-weight: 5px;
}

#landing-title {
	margin: 0.2em;
}

#link-home {
	margin-left: 20px;
	background-color: #eaedbe;
	border-radius: 5px;
	width: 80px;
}

#sub {
	display: flex;
	justify-content: center;
	align-items: center;
}
