#landing-title {
	margin: 5vh;
}

#landing-text {
	color: black;
}

#link-home {
	margin-left: 20px;
	background-color: #0bc0d6;
	border-radius: 0.8rem;
	width: max-content;
	height: max-content;
	text-align: center;
	color: #ffffff;
	padding: 0.5rem;
}

#sub {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 65vh;
}
