.slider-container {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 1rem;
}

.img-slide {
	border-radius: 1rem;
	padding: 0.3em;
	align-self: center;
	background-color: #ffffff;
}


.legend-sub {
	bottom: 0px !important;
}

.legend-up {
	top: 0px;
	height: max-content;
}

