#ww-container {
	display: flex;
	align-items: center;
	height: 100%;
}
#spanNav {
	font-size: large;
	font-weight: bold;
	margin-left: 10px;
}
#logo-WikiWoof {
	height: 100%;
	width: auto;
	margin-left: 1rem;
}

.navbar {
	display: flex;
	height: 4rem;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #ffffff;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: row;
	align-items: center;
	height: 100%;
	align-content: center;
}

.list-item {
	margin: 0;
	display: flex;
	width: auto;
	align-items: center;
	text-align: center;
}

.list-item a {
	color: #000000;
	font-size: large;
	font-weight: 1rem;
	text-decoration: none;
	padding: 0.3rem 0.8rem 0.3rem 0.8rem;
	border-radius: 1rem;
	margin-right: 1rem;
}

.list-item a:hover,
.list-item a.active {
	background-color: #0bc0d6;
	color: white;
}
